/* Base styles for layout */
header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* Aligns with .grid-container columns */
  align-items: end;
  /* Align items to the end (bottom) of the container */
  gap: 10px;
  padding: 10px;
  width: 100%;
}

#logo-container {
  grid-column: 1 / 2;
  /* Spans first column */
  text-align: left;
}

#logo {
  width: 100%;
  /* Makes the logo responsive within the container */
  max-width: 180px;
  /* Maximum size */
  height: auto;
}

#tagline {
  grid-column: 1 / 2;
  /* Spans first column */
  font-size: calc(15px + (15vw / var(--char-count)));
  /* Adjusts font size responsively */
  margin: 0;
  /* Adjust vertical spacing if necessary */
  align-self: end;
  /* Aligns tagline to the end within its grid area */
}

#tagline-and-nav {
  grid-column: 1 / -1;
  /* Spans both columns */
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* Reflects the .grid-container structure */
  gap: 10px;
}

nav {
  grid-column: 2 / 3;
  /* Spans second column */
  align-self: end;
  /* Aligns nav to the end within its grid area */
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin: 0;
  /* Adjust as needed */
}

nav li a {
  text-decoration: none;
  color: black;
  font-size: calc(10px + 1vw);
  /* Adjusts font size responsively */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
    /* Stack elements under each other */
    grid-template-rows: auto auto auto;
    /* Explicit rows for logo, tagline, and nav */
  }

  #logo-container,
  #tagline,
  #tagline-and-nav {
    grid-column: 1 / -1;
    /* All elements take the full width */
    text-align: center;
    /* Center text for all items */
  }

  #logo {
    width: 60%;
    /* Adjust the logo size as appropriate for smaller screens */
    max-width: 180px;
    /* Ensures the logo is not too big */
    height: auto;
    margin-bottom: 10px;
    /* Adds space below the logo */
  }

  #tagline {
    font-size: 5vw;
    /* Adjusts font size for smaller screens */
    margin-bottom: 10px;
    /* Adds space below the tagline */
  }

  nav {
    /* width: 100%; */
    grid-column: 1/-1;
    /* Ensure nav takes full width */
  }

  nav ul {
    flex-direction: row;
    /* Align nav items in a row */
    justify-content: space-around;
    /* Evenly space nav items */
    flex-wrap: wrap;
    /* Allows items to wrap if needed */
    padding: 0;
    margin-top: 10px;
    /* Adds space above nav items */
    list-style-type: none;
    /* Removes list styling */
  }

  nav li a {
    font-size: 4vw;
    /* Adjusts nav links font size for smaller screens */
    padding: 5px 10px;
    /* Adds padding to increase tap area */
  }
}